.mypage {
    width: 100%;
}

.mypage__profile {
    max-width: 1300px;
    margin: 0 auto;

    padding: 50px 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

.mypage__user {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mypage__image {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    object-fit: cover;

    background-color: #ddd;
}

.mypage__name {
    font-size: 32px;
    font-weight: bold;
}

.mypage__edit {
    padding: 12px 55px;

    border: 2px solid #ff5555;
    border-radius: 8px;

    color: #ff5555;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.mypage__tab {
    display: flex;
    gap: 60px;

    padding: 0 80px 15px;

    border-bottom: 1px solid #999;
}

.mypage__tab-link {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}

.mypage__tab-link.active {
    color: red;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 45px;

    padding: 40px 80px;

    box-sizing: border-box;
}

.product-card {
    color: #000;
    text-decoration: none;
}

.product-card__image {
    width: 100%;
    aspect-ratio: 1 / 1;

    background-color: #ddd;
    border-radius: 4px;

    overflow: hidden;
}

.product-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card__name {
    margin-top: 10px;
}